.container:has(.rounded-circle) {
    background: url(./imgs/world.svg) no-repeat center center / contain;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-circle {
    width: 440px;
    height: 440px;
    border-radius: 50%;
    border: 3px solid #157EAD;
    position: relative;
    animation: spin 60s ease-in-out infinite;
}

.outer-circle {
    width: 179px;
    height: 179px;
    border-radius: 50%;
    background: radial-gradient(146.37% 146.55% at 7.62% 1.88%, #C09AC9 3.76%, #5B6EB6 55.38%, #5CBAEB 100%);
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.inner-circle {
    width: 165px;
    height: 165px;
    background: rgb(255, 255, 255);    
    border-radius: 50%;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.25));;
}

.inner-circle img {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    animation: reverse-spin 60s ease-in-out infinite;
}

.quater-cicle {
    width: 151px;
    height: 151px;
    position: absolute;
    border-radius: 50%;
    background: #ededed;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), inset -12px -14px 31px rgba(0, 0, 0, 0.12);
}

.quater-cicle img {
    z-index: 5;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    animation: reverse-spin 60s ease-in-out infinite;
}

.quater-cicle::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 138px;
    height: 138px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    inset: 50% auto auto 50%;
}

.quater-cicle-1 {
    inset: 0 auto auto 0;
}
.quater-cicle-2 {
    inset: 0 0 auto auto;
}
.quater-cicle-3 {
    inset: auto 0 0 auto;
}
.quater-cicle-4 {
    inset: auto auto 0 0;
}

.leaf-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #ededed;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    inset: 50% -44px auto auto;
    transform: translate(100%, -50%);
}

.leaf-circle::before {
    content: '';
    position: absolute;
    inset: 50% auto auto 0;
    transform: translate(-100%, -50%);
    width: 41px;
    height: 2px;
    background: #909090;
}

.leaf-circle::after {
    content: '';
    position: absolute;
    width: 82px;
    height: 82px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.leaf-circle img {
    z-index: 5;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    animation: reverse-spin 60s ease-in-out infinite;
}

.branch-circle {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background: #ededed;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 4;
}

.branch-circle-1 {
    inset: -84px auto auto 50%;
    transform: translate(-50%, -100%);
}

.branch-circle-2 {
    inset: 50% auto auto -84px;
    transform: translate(-100%, -50%);
}

.branch-circle-3 {
    inset: -84px auto auto 50%;
    transform: translate(-50%, -100%);
}

.branch-circle-4 {
    inset: 50% -84px auto auto;
    transform: translate(100%, -50%);
}

.branch-circle-5 {
    inset: 50% -84px auto auto;
    transform: translate(100%, -50%);
}

.branch-circle-6 {
    inset: auto auto -84px 50%;
    transform: translate(-50%, 100%);
}
.branch-circle-6 {
    inset: auto auto -84px 50%;
    transform: translate(-50%, 100%);
}
.branch-circle-6 {
    inset: auto auto -84px 50%;
    transform: translate(-50%, 100%);
}

.branch-circle-7 {
    inset: auto auto -84px 50%;
    transform: translate(-50%, 100%);
}

.branch-circle-8 {
    inset: 50% auto auto -84px;
    transform: translate(-100%, -50%);
}

.branch-circle::before {
    content: '';
    position: absolute;
    background: #909090;
}

.branch-circle-1::before {
    inset: auto auto 0 50%;
    transform: translate(0, 100%);
    width: 2px;
    height: 84px;
}

.branch-circle-2::before {
    inset: 50% 0 auto auto;
    transform: translate(100%, -50%);
    width: 84px;
    height: 2px;
}

.branch-circle-3::before {
    inset: auto auto 0 50%;
    transform: translate(-50%, 100%);
    width: 2px;
    height: 84px;
}

.branch-circle-4::before {
    inset: 50% auto auto 0;
    transform: translate(-100%, -50%);
    width: 84px;
    height: 2px;
}

.branch-circle-5::before {
    inset: 50% auto auto 0;
    transform: translate(-100%, -50%);
    width: 84px;
    height: 2px;
}

.branch-circle-6::before {
    inset: 0 auto auto 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 84px;
}

.branch-circle-7::before {
    inset: 0 auto auto 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 84px;
}

.branch-circle-8::before {
    inset: 50% 0 auto auto;
    transform: translate(100%, -50%);
    width: 84px;
    height: 2px;
}

.branch-circle::after {
    content: '';
    position: absolute;
    width: 102px;
    height: 102px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.treetop-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #EDEDED;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.treetop-circle-1 {
    inset: auto auto 0 -28px;
    transform: translate(-100%, 50%);
}

.treetop-circle-1::before {
    content: '';
    position: absolute;
    width: 42px;
    height: 1.5px;
    background: #909090;
    inset: 25% 5px auto auto;
    transform: translate(100%, -50%) rotate(335deg);
}

.treetop-circle-2 {
    inset: -28px 0 auto auto;
    transform: translate(50%, -100%);
}

.treetop-circle-2::before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 42px;
    background: #909090;
    inset: auto auto 5px 25%;
    transform: translate(-50%, 100%) rotate(25deg);
}

.treetop-circle-3 {
    inset: 0 auto auto -28px;
    transform: translate(-100%, -50%);
}

.treetop-circle-3::before {
    content: '';
    position: absolute;
    width: 42px;
    height: 1.5px;
    background: #909090;
    inset: 75% 5px auto auto;
    transform: translate(100%, -25%) rotate(25deg);
}

.treetop-circle-4 {
    inset: auto -28px 0 auto;
    transform: translate(100%, 50%);
}

.treetop-circle-4::before {
    content: '';
    position: absolute;
    width: 42px;
    height: 1.5px;
    background: #909090;
    inset: 25% auto auto 5px;
    transform: translate(-100%, -50%) rotate(25deg);
}

.treetop-circle-5 {
    inset: auto auto -28px 0;
    transform: translate(-50%, 100%);
}

.treetop-circle-5::before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 42px;
    background: #909090;
    inset: 5px auto auto 75%;
    transform: translate(-50%, -100%) rotate(25deg);
}

.treetop-circle::after {
    content: '';
    position: absolute;
    width: 69px;
    height: 69px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.inner-content {
    position: relative;
}

.tech-lg {
    position: absolute;
    inset: 20px auto auto 50%;
    transform: translate(-50%, 0);
}

@keyframes reverse-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
    70% {
        transform: translate(-50%, -50%) rotate(-270deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 

    }
    50% {
        transform: rotate(180deg);
    }
    70% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pulse {
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pulse-1 {
    width: 610px;
    height: 610px;
    animation: pulse1 5s linear infinite;
    z-index: -1;
}

.pulse-2 {
    width: 780px;
    height: 780px;
    animation: pulse2 5s linear infinite;
    z-index: -1;
}

.pulse-3 {
    width: 980px;
    height: 980px;
    animation: pulse3 5s linear infinite;
    z-index: -1;
}

@keyframes pulse1 {
    0% {
        opacity: 0;
        width: 440px;
        height: 440px;
    }
    33% {
        opacity: 1;
        width: 610px;
        height: 610px;
    }
    100% {
        opacity: 0;
        width: 610px;
        height: 610px;
    }
}

@keyframes pulse2 {
    0% {
        opacity: 0;
        width: 440px;
        height: 440px;
    }
    33% {
        opacity: 1;
        width: 610px;
        height: 610px;
    }
    66% {
        opacity: 1;
        width: 780px;
        height: 780px;
    }
    100% {
        opacity: 0;
        width: 780px;
        height: 780px;
    }
}

@keyframes pulse3 {
    0% {
        opacity: 0;
        width: 440px;
        height: 440px;
    }
    33% {
        opacity: 1;
        width: 610px;
        height: 610px;
    }
    66% {
        opacity: 1;
        width: 780px;
        height: 780px;
    }
    80% {
        opacity: 1;
    }
    99% {
        width: 980px;
        height: 980px;
    }
    100% {
        opacity: 0;
        width: 1100px;
        height: 1100px;
    }
}


